OPENWEATHER_API_KEY = Paste your OPENWEATHER API KEY for getting live weather info
GROQ_API_KEY = Paste your GROQ API KEY 
RAPIDAPI_KEY = paste your RAPID API KEY for getting live trains info
ORS_API_KEY = Paste your OpenRouteService API KEY for Route Planning
GEOAPIFY_API_KEY = Paste your Geoapify API KEY for Tourist Places
UNSPLASH_API_KEY=Paste your PEXELS API KEY for Tourist Places images