# Environment
.env

# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/
.eggs/

# IDE
.vscode/
.idea/
*.iml

# Misc
.DS_Store
Thumbs.db
